.search-title{
    font-size: 25px;
    font-weight: bold;
}
.search-form{
    padding: 0 3vw;
}
.input-container{
    height: 5vh;
}
.input,.select-container{
    height: 100%;
}
.select-container{
    width: 100%;
}
.customer-title{
    color: #428BCA;
    font-size: 30px;
    padding-left: 12px;
    padding-top: 1vh;
    font-weight: bold;
}
.customer-info{
    margin: 2vh 0 !important;
    height: 20vh;
    border: #428BCA solid 1px;
}
.customer-item{
    height: 100%;
}
.customer-item:hover{
    cursor: pointer;
}
.customer-name{
    color: #428BCA;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 2vh;
}
.customer-info-title{
    font-size: 15px;
    margin-bottom: 1vh;
    font-weight: 500;
}