.change-password-title{
    font-size: 25px;
    font-weight: bold;
    color: #428BCA;
    text-align: center;
    margin: 2vh 0;
}
.input-password-container{
    margin-bottom: 2vh;
}
.input_password-text{
    font-size:20px;
    font-weight: 600;
}
.input_password{
    margin-bottom: 1vh;
}